# Flutter related
build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.flutter-*
.dart_tool/

# IntelliJ related
.idea/
*.iml
*.ipr
*.iws
.idea/
*.iml
.idea/modules.xml
.idea/workspace.xml
.idea/libraries
.idea/shelf/
.idea/spring.xml
.idea/svn.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/misc.xml
.idea/vcs.xml
.idea/xml_data.xml
.idea/libraries/*.xml

# Visual Studio Code related
.vscode/
.vscode/settings.json
.vscode/launch.json
.vscode/extensions.json

# General
.DS_Store
*.log
*.pyc
*.class
*.tmp
*.temp
*.swp
*~ 
*#
linux/flutter/generated_plugins.cmake
linux/flutter/generated_plugin_registrant.cc
macos/Flutter/GeneratedPluginRegistrant.swift
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugins.cmake
